html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
background-color: #fff;
}
.menu-pt1{
    display: flex;
    margin-left: 133px;
}

.cabecalho{
height: 60px;
background: #FFFFFF;
display: flex;
justify-content: space-between;
align-items: center;
}

.mascote{
width: 43px;
height: 49px;
margin-left: 138px;
background: url(barbershop);
}

.logo{
width: 139px;
height: 47px;
}
.localizacao{
margin-right: 10px;
width: 13.17px;
height: 16px;
}
.loc{
margin-right: 24px;
width: 300px;
height: 19px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.zap{
margin-right: 10px;
width: 15.92px;
height: 16px;
}

.tel{
margin-right: 158px;
width: 107px;
height: 19px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.menu{
bottom: 15.62%;
}

/*PARTE 1----------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt1{
display: flex;
background: #092C52;
align-items: center;
justify-content: space-between;
padding-top: 142px;
padding-bottom: 204px;
padding-right: 135px;
padding-left: 135px;
}
.esquerda{
/* width: 470px;
height: 362px;
background: url(imagens/PT1.png);   */
}

.titulo-pt1{
margin-bottom: 60px;
width: 360px;
height: 34px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
color: #FFFFFF;

}
.conteudo-pt1{
margin-bottom: 68px;
width: 520px;
height: 77px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.botao-ag{

width: 267px;
height: 65px;

background: #F99420;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
/*PARTE 2  --------------------------------------------------------------------------------------------------*/

.fundo-pt2{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 90px;
padding-bottom: 90px;
padding-right: 235px;
padding-left: 235px;
}

.subtitulo{
margin-bottom: 15px;
width: 169px;
height: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
color: #092C52;
}

.titulo-pt2{
    margin-bottom: 30px;
width: 360px;
height: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
display: flex;
align-items: flex-end;
color: #092C52;
}
.conteudo-pt2{
width: 520px;
height: 77px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #092C52;
}
/*PARTE 3---------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt3{

background: #092C52;
text-align: center;
padding-bottom: 145px ;
padding-top: 195px;
}
.aspas{
width: 43px;
}

.titulo-pt3{
padding-top: 30px;
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
color: #F99420;
}
.subtutulo-pt3{
padding-top: 30px;
height: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
/*PARTE 4 ----------------------------------------------------------------------------------------------------------------------------------*/
.serviços{
position: absolute;
width: 1170px;
height: 518px;
left: 135px;
top: 1768px;
}
.alinhamento-pt4{
position: absolute;
width: 564px;
height: 81px;
left: 435px;
top: 1768px;}

.titulo-pt4{
position: absolute;
width: 564px;
height: 30px;
left: 525px;
top: 1815px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;
color: #092C52;
}
.subtitulo-pt4{
position: absolute;
width: 169px;
height: 17px;
top: 1753px;
left: 720px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #092C52;
}
.cabelo-pt4{
position: absolute;
width: 180px;
height: 180px;
left: 180px;
top: 1939px;
background: url(imagens/cabelo-pt4.png);
}
.cabelo-titulo{
position: absolute;
width: 82px;
height: 30px;
left: 229px;
top: 2149px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #092C52;
}
.cabelo-texto{
position: absolute;
width: 270px;
height: 77px;
left: 135px;
top: 2209px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #838383;
}
.barba-pt4{
position: absolute;
width: 180px;
height: 180px;
left: 480px;
top: 1939px;
background: url(imagens/barba-pt4.png);
}
.barba-titulo{
position: absolute;
width: 69px;
height: 30px;
left: 536px;
top: 2149px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #092C52;
}
.barba-texto{
position: absolute;
width: 270px;
height: 77px;
left: 435px;
top: 2209px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #838383;
}
.bigode-pt4{
position: absolute;
width: 180px;
height: 180px;
left: 780px;
top: 1939px;
background: url(imagens/bigode-pt4.png);
}
.bigode-titulo{
position: absolute;
width: 82px;
height: 30px;
left: 829px;
top: 2149px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #092C52;
}
.bigode-texto{
position: absolute;
width: 270px;
height: 77px;
left: 735px;
top: 2209px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #838383;
}
.tratamento-pt4{
position: absolute;
width: 180px;
height: 180px;
left: 1080px;
top: 1939px;
background: url(imagens/tratamento_pt4.png);
}
.tratamento-titulo{
position: absolute;
width: 136px;
height: 30px;
left: 1102px;
top: 2149px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
color: #092C52;
}
.tratamento-texto{
position: absolute;
width: 270px;
height: 77px;
left: 1035px;
top: 2209px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #838383;
}
/*Tabelas laranjadas de preço*/
.tabela-preço{
position: absolute;
width: 570px;
height: 546px;
left: 135px;
top: 2376px;
background: #F99420;
}
.titulo-preço{
position: absolute;
width: 198px;
height: 23px;
left: 35px;
top: 53px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
display: flex;
align-items: center;
color: #092C52;
}
.subtitulo-preço{
position: absolute;
width: 142px;
height: 17px;
left: 35px;
top: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
color: #092C52;
}

.linha1{
position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2491px;    
border: 1px solid #000000;}
.titulo1{
position: absolute;
width: 66px;
height: 19px;
left: 165px;
top: 2481px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.pre1{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2481px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;}

.titulo2{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
position: absolute;
width: 510px;
height: 19px;
left: 165px;
top: 2530px;
}
.titulo3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    position: absolute;
    width: 510px;
    height: 19px;
    left: 165px;
    top: 2579px;
}
.titulo4{
position: absolute;
width: 510px;
height: 19px;
left: 165px;
top: 2628px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;

}
.titulo5{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
position: absolute;
width: 510px;
height: 19px;
left: 165px;
top: 2677px;
}
.titulo6{
position: absolute;
width: 510px;
height: 19px;
left: 165px;
top: 2726px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.titulo7{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
position: absolute;
width: 510px;
height: 19px;
left: 165px;
top: 2775px;
}
.titulo8{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
position: absolute;
width: 510px;
height: 19px;
left: 165px;
top: 2824px;
}
.titulo9{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
position: absolute;
width: 510px;
height: 19px;
left: 165px;
top: 2873px; 
}

.linha2{
position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2540px;
border: 1px solid #000000;
}
.linha3{
position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2589px;
border: 1px solid #000000;

}
.linha4{
position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2638px;
border: 1px solid #000000;

}
.linha5{
position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2687px;
border: 1px solid #000000;
}
.linha6{
position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2736px;
border: 1px solid #000000;
}
.linha7{

position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2785px;

border: 1px solid #000000;

}
.linha8{

position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2834px;

border: 1px solid #000000;

}
.linha9{
position: absolute;
width: 396px;
height: 0px;
left: 236px;
top: 2883px;
border: 1px solid #000000;
}
.pre2{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2530px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.pre3{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2579px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.pre4{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2628px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.pre5{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2677px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.pre7{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2775px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.pre6{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2726px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;


}
.pre8{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2824px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
.pre9{
position: absolute;
width: 38px;
height: 19px;
left: 637px;
top: 2873px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #000000;
}
/*Tabela de preço 2 -----------------------------------------------------------------------------------------------------------------------*/
.tabela-preço2{
position: absolute;
width: 570px;
height: 546px;
left: 735px;
top: 2376px;
background: #F99420;

}



/*Parte 5 ---------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt5{

position: absolute;
width: 1380px;
height: 746px;
left: 30px;
top: 3012px;


}
.titulo-pt5{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
align-items: center;
color: #000000;
display: flex;

padding-top: 15px;
padding-left: 600px;
padding-right: 438px;
}
.subtitulo-pt5{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #092C52;

padding-left: 558px;


}

.col1{
   
    padding-left: 135px;
}
.col1-titulo, .col2-titulo{
padding-top: 30px;
padding-left: 119px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
color: #000000;
}
.col1-sub{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #838383;
padding-top: 30px;
text-align: center;

}
.col2{
padding-left: 29px;
padding-right: 31px;
}
.colunas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.col3{
    
}