html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
background-color: #fff;
}
.menu-pt1{
    display: flex;
    margin-left: 133px;
}

.cabecalho{
height: 60px;
background: #FFFFFF;
display: flex;
justify-content: space-between;
align-items: center;
}

.mascote{
width: 43px;
height: 49px;
margin-left: 138px;
background: url(barbershop);
}

.logo{
width: 139px;
height: 47px;
}
.localizacao{
margin-right: 10px;
width: 13.17px;
height: 16px;
}
.loc{
margin-right: 24px;
width: 300px;
height: 19px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.zap{
margin-right: 10px;
width: 15.92px;
height: 16px;
}

.tel{
margin-right: 158px;
width: 107px;
height: 19px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.menu{
bottom: 15.62%;
}
/*PARTE 1----------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt1{
display: flex;
background: #092C52;
align-items: center;
justify-content: space-between;
padding-top: 142px;
padding-bottom: 204px;
padding-right: 135px;
padding-left: 135px;
}
.esquerda{
/* width: 470px;
height: 362px;
background: url(imagens/PT1.png);   */
}
.titulo-pt1{
margin-bottom: 60px;
width: 360px;
height: 34px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
color: #FFFFFF;

}
.conteudo-pt1{
margin-bottom: 68px;
width: 520px;
height: 77px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
.botao-ag{
width: 267px;
height: 65px;
background: #F99420;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
/*PARTE 2  --------------------------------------------------------------------------------------------------*/
.fundo-pt2{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 90px;
padding-bottom: 90px;
padding-right: 235px;
padding-left: 235px;
}

.subtitulo{
margin-bottom: 15px;
width: 169px;
height: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
color: #092C52;
}

.titulo-pt2{
    margin-bottom: 30px;
width: 360px;
height: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
display: flex;
align-items: flex-end;
color: #092C52;
}
.conteudo-pt2{
width: 520px;
height: 77px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #092C52;
}
/*PARTE 3---------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt3{

background: #092C52;
text-align: center;
padding-bottom: 145px ;
padding-top: 195px;
}
.aspas{
width: 43px;
}

.titulo-pt3{
padding-top: 30px;
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
color: #F99420;
}
.subtutulo-pt3{
padding-top: 30px;
height: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
/*PARTE 4 ----------------------------------------------------------------------------------------------------------------------------------*/
.titulo-pt4{
text-align: center;
padding-top: 15px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
color: #092C52;
}
.subtitulo-pt4{
text-align: center;
padding-top: 105px;
padding-bottom: 15px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
color: #092C52;
}

.fotos{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 90px;

}

.cabelo-pt4{
width: 180px;
height: 180px;
}
.cabelo-titulo{
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
text-align: center;
color: #092C52;
}
.cabelo-texto{
margin-top: 30px;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #838383;
height: 30px;
align-items: center;
}

/*Tabelas laranjadas de preço*/
.tabela-preço{
width: 570px;
height: 546px;
background: #F99420;
margin-left: 135px;
margin-top: 90px;
}
.tabela-preço2{
width: 570px;
height: 546px;
background: #F99420;
margin-left: 30px;
margin-top: 90px;
}
.tabelas{
    display: flex;
}
.titulo-preço{
margin-left: 30px;
margin-top: 5px;
width: 198px;
height: 23px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
color: #092C52;
}

.subtitulo-preço{
margin-left: 30px;
margin-top: 30px;

width: 142px;
height: 17px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
color: #092C52;
}

.linhaspreco{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;

}
.linhaspreco hr{
    width: 396px;
    background-color: black;
    height: 2px;
    border: 0;
}

/*Parte 5 ---------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt5{

width: 1380px;
height: 746px;
left: 30px;
top: 3012px;
}
.titulo-pt5{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
align-items: center;
color: #000000;
display: flex;
padding-top: 21px;
padding-left: 600px;
padding-right: 438px;
padding-bottom: 60px;
}
.subtitulo-pt5{
    margin-top: 100px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #092C52;
padding-left: 558px;
}
.col1{
    margin-left: 10px;
    margin-right: 10px;
}
.col1-titulo, .col2-titulo{
padding-top: 30px;
padding-left: 119px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 30px;
color: #000000;
}
.col1-sub{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #838383;
padding-top: 30px;
text-align: center;

}
.col2{
padding-left: 29px;
padding-right: 31px;
}
.col3{
    margin-right: 10px;
}
.colunas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
/*Parte 7 ---------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt7{
display: flex;
align-items: center;
height: 370px;
margin-top: 90px;
background: #092C52;
}
.titulo-pt7{
width: 344px;
height: 80px;
margin-left: 335px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
display: flex;
justify-content: center;
color: #F99420;
}
.botao-pt7{
margin-left: 165px;
width: 270px;
height: 65px;
background-color: #F99420;
color: white;
justify-content: center;
}


.imagens-barbeiros{
    display: flex;
    margin-left: 135px;
}
.titulo-barbeiros{
    
}
