html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
background-color: #fff;
}

.cabecalho{
position: absolute;
width: 1700px;
height: 60px;
background: #FFFFFF;
}

.mascote{
position: absolute;
width: 43px;
height: 49px;
left: 133px;
top: 5px;
background: url(barbershop);
}

.logo{
position: absolute;
width: 139px;
height: 47px;
left: 191px;
top: 7px;
}
.localizacao{
position: absolute;
width: 13.17px;
height: 16px;
left: 635px;
top: 21px;
}
.loc{
position: absolute;
width: 300px;
height: 19px;
left: 659px;
top: 21px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}

.zap{
position: absolute;
width: 15.92px;
height: 16px;
left: 983px;
top: 22px;
}

.tel{
position: absolute;
width: 107px;
height: 19px;
left: 1010px;
top: 21px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
   
}
.menu{
position: absolute;
left: 1277px;
top: 15.62px;
bottom: 15.62%;
}

/*PARTE 1----------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt1{
position: absolute;
width: 1700px;
height: 708px;
left: 0px;
top: 60px;
background: #092C52;

}
.esquerda{
position: absolute;
width: 470px;
height: 362px;
left: 835px;
top: 202px;
background: url(imagens/PT1.png);  
}

.titulo-pt1{
position: absolute;
width: 360px;
height: 34px;
left: 135px;
top: 254px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
display: flex;
align-items: center;
color: #FFFFFF;

}
.conteudo-pt1{
position: absolute;
width: 520px;
height: 77px;
left: 136px;
top: 348px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.botao-ag{
position: absolute;
width: 267px;
height: 65px;
left: 135px;
top: 493px;
background: #F99420;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
/*PARTE 2  --------------------------------------------------------------------------------------------------*/

.esquerdo-pt2{
position: absolute;
width: 370px;
height: 360px;
left: 835px;
top: 858px;
background: url(imagens/PT2.png);
}

.subtitulo{
position: absolute;
width: 169px;
height: 32px;
left: 235px;
top: 950px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
color: #092C52;
}

.titulo-pt2{
position: absolute;
width: 360px;
height: 32px;
left: 235px;
top: 997px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
display: flex;
align-items: flex-end;
color: #092C52;
}
.conteudo-pt2{
position: absolute;
width: 520px;
height: 77px;
left: 235px;
top: 1059px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #092C52;
}
/*PARTE 3---------------------------------------------------------------------------------------------------------------------------------*/
.fundo-pt3{
position: absolute;
width: 1700px;
height: 370px;
left: 0px;
top: 1308px;
background: #092C52;
}

.aspas{
    
    width: 43px;
    










}
